html{height:100%}
body {
    background: url(https://www.dndbeyond.com/attachments/0/475/br2k.jpg) no-repeat center -20px #f9f9f9; height:100%; top: 0px;
}




main .markdown-body h1 {
    margin: 0;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    font-family: "Roboto Condensed", Roboto, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 5px 15px;
    color: #FDFDFD !important;
      background-image: url(https://www.dndbeyond.com/attachments/0/507/1180darkbar.png);
    background-size: 102% 100%;
    background-position: -6px;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    padding-bottom: 0em;
    border-bottom: 0px ;
    margin-top: 0px;
}


main {

    background: white;
    position:relative;
    padding-bottom:11px;
    width:1080px;
    margin-bottom: 20px;
	padding-top: 35px;
   
}

main::after {
    content: "";
    display: block;
    background: 0 0 transparent url(https://www.dndbeyond.com/attachments/0/508/ddb-borders-1180.png) no-repeat;
    position: absolute;
    height: 12px;
    background-size: 100% 12px;
    bottom: -12px;
    left: -1px;
    right: -1px;

}


















nav {
 	background: #dedede; 
 	height: 3rem;
 	line-height: 3rem;
	overflow:hidden;
	margin: 0 0 15px 0;
}
.markdown-body nav ul,
nav ul {
	display:flex;
   	list-style: none;
	margin-bottom: 0;
	padding-left: 20px;
	text-transform: uppercase;
}


nav li {
 list-style: none; 
 display: block;
 padding-left: 0;
}

nav li a {
 display: block;
 font-size: 0.8rem;
 outline: none;
 padding: 0 1.5rem;
	color: black;
	text-align:center;
}

nav li.active a {
 background: #ffffff; 
}

.markdown-body nav li+li {
    margin-top: 0em;
}




























blockquote::before {
  content: '';
  background-image: url("https://media.dndbeyond.com/compendium-images/components/--right-rules.svg"),url("https://media.dndbeyond.com/compendium-images/components/--left-rules.svg") !important;
  background-position: left, right !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  height: 11px !important;
  position: absolute !important;
  z-index: -1;
	top: -13px !important;
right: 0.1px !important;
left: 0.1px !important;
}


blockquote {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  display: block !important;
  background-color: var(--compendium-rules-sidebar-color, #DAE4C1) !important;
  position: relative !important;
  width: auto !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: visible !important;
  margin: 30px 5px !important;
  line-height: 1.6 !important;
  font-size: 14px !important;
  padding: 25px 28px 25px 30px !important;
  border-radius: 0 !important;
  border-top: 3px solid #231f20 !important;
  border-bottom: 3px solid #231f20 !important;
  border-left: 1.5px solid #b3b3b3 !important;
  border-right: 1.5px solid #b3b3b3 !important;
  color: #242527 !important;
  filter: drop-shadow(0px 5px 8px #ccc);
	line-height: 1.6 !important;
font-size: 14px !important;
color: #242527 !important;
}

blockquote::after {
  content: '';
  background-image: url("https://media.dndbeyond.com/compendium-images/components/--right-rules.svg"),url("https://media.dndbeyond.com/compendium-images/components/--left-rules.svg") !important;
  background-position: left, right !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  height: 11px !important;
  position: absolute !important;
  z-index: -1;
  transform: scaleY(-1);
	bottom: -13px !important;
right: -0.1px !important;
left: 0.1px !important;
}




