<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>Legacy of the Hellriders Campaign</title>
        <link rel="stylesheet"href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
         <link rel="stylesheet"  href="{{ '/assets/css/dndstyle.css?v=' | append: site.github.build_revision | relative_url }}">
        
        
        
    </head>
    <body>
        <main role="main" class="phb container-lg px-3 my-5 markdown-body">
            <nav>
                
<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/charactercreation/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Character Creation</a></li>
  <li class="{% if page.url contains '/houserules/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">House rules</a></li>
</ul>
            </nav>
        {{ content }}
        </main>
        <footer role="contentinfo" id="contentinfo">
        </footer>
    </body>
</html>
