<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Legacy of the Hellriders Campaign</title>
        <link rel="stylesheet"href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
         <link rel="stylesheet"  href="{{ '/assets/css/dndstyle.css?v=' | append: site.github.build_revision | relative_url }}">
        
        
        
    </head>
    <body>
 <nav>
      <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>  
          <div class="logo">
            <h1>Navbar</h1>
          </div>
          <div class="menu-items">
              <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
              <li class="{% if page.url contains '/charactercreation' %} active {% endif %}"><a href="{{ "/charactercreation/" | absolute_url }}">Character Creation</a></li>
              <li class="{% if page.url contains '/houserules' %} active {% endif %}"><a href="{{ "/houserules" | absolute_url }}">Rules</a></li>
          </div>
        </div>
      </div>
    </nav>
        
        
        
        <header class="container-lg px-3 my-5 markdown-body">
        <img src="/images/legacyofthehellriders.png" alt="legacyofthehellrider" title="legacy of the hellrider" style="width:50%" >
       
   
        
        </header>
        
        <main role="main" class="container-lg px-3 my-5 markdown-body">
 
            <div class="main-inner">
                <div class="main-inner-inner">
                
            
        {{ content }}
                </div>
                </div>
        </main>
            
        <footer role="contentinfo" id="contentinfo">
        </footer>
    </body>
</html>
